KONG_PORT=8001
PROJECT_TITLE=Kavhi
JWT_SECRET=<Your_secret>
CORS_ORIGIN=http://localhost
APP_URL=https://my.domain.de
KONG_HOST=http://localhost
# The hostname under which the kong docker container can reach the go microservice
SERVICES_HOST=http://services_host
FRONTEND_HOST=http://frontend_host
FRONTEND_PORT=5173
