<nav>
	<div style="width: 100%">${navItems}</div>
	<div>
		<a href="/logout">
			<sl-icon name="box-arrow-in-right" style="font-size: 28px"></sl-icon>
		</a>
		<a href="/settings">
			<sl-icon name="gear" style="font-size: 28px"></sl-icon>
		</a>
	</div>
</nav>
<style>
nav {
	display: flex;
	gap: 15px;
	width: -webkit-fill-available;
	justify-content: space-between;
	margin: 0 2em;
}

nav > div {
	display: flex;
}
a {
	text-decoration: none;
	color: #007bff;
	cursor: pointer;
	margin-right: 1em;
}

a.active {
	font-weight: bold;
}
</style>
