nav {
	display: flex;
	gap: 15px;
	width: -webkit-fill-available;
	justify-content: space-between;
	margin: 0 2em;
}

nav > div {
	display: flex;
}
a {
	text-decoration: none;
	color: #007bff;
	cursor: pointer;
	margin-right: 1em;
}

a.active {
	font-weight: bold;
}
