<style>
    p {margin: 0;}
    .card {
	    border-radius: 10px;
	    border: 1px solid lightgray;
	    margin: 1rem;
	    overflow: hidden;
    }
    .card-header {
	    padding: 0rem 1rem;
    border-bottom: 1px solid lightgray;
    background: whitesmoke;
    }
    .card-header h3 {
	    margin: 0;
	    padding: 0.75rem 1rem;
    }
    .card-content {
	    padding: 0.5rem 1rem;
    }
    .card-footer {
    }
</style>
<div id="card" class="card">
	<div class="card-header">
	    <h3>${'${props.header}'}</h3>
    </div>
    <div class="card-content">
	    ${fields.map((field) => `<p><strong>\${i18next.t('${modelName}.${capitalize(field.name)}')}:</strong> \${props.${field.name}}</p>`).join('\n')}
    </div>
</div>
