<div id="settingscontainer">
	<div>
		<h3>Settings</h3>
	</div>
	<ul>
		<li onclick="alert('hi')"><a>${i18next.t('settings.thrid')}</a></li>
		<li onclick='window.router.loadUrl("/deleteprofile")'>
			<a>${i18next.t('settings.delete_profile')}</a>
		</li>
		<li onclick="window.router.loadUrl('/settings/editprofile')">
			<a>${i18next.t('settings.edit_profile')}</a>
		</li>
		<li onclick="window.router.loadUrl('/settings/credential')">
			<a>${i18next.t("settings.add_credentials")}</a>
		</li>
		<div>
			<strong>${i18next.t('lng.choose')}</strong>
			<div class="d-flex w-100 justify-content-between">
				<p onclick="i18next.changeLanguage('de')" class="${i18next.language == 'de'? 'active': ''}">
					${i18next.t('lng.german')}
				</p>
				<p onclick="i18next.changeLanguage('en')" class="${i18next.language == 'en'? 'active': ''}">
					${i18next.t('lng.english')}
				</p>
			</div>
		</div>
	</ul>
</div>
<style>
	#settingscontainer {
		border: 1px solid lightgray;
		border-radius: 10px;
		margin: auto;
		width: fit-content;
		min-width: 25%;
	}
	.w-100 {
		width: 100%;
	}
	.justify-content-between {
		justify-content: space-between;
	}
	.d-flex {
		display: flex;
	}
	h3,
	ul>div, li {
		padding: 0.5rem 1.75rem;
		display: block;
		border-top: 1px solid lightgray;
	}
	h3 {
		font-size: 24px;
		background: whitesmoke;
		margin: 0 !important;
	}
	li {
		cursor: pointer;
	}
	ul {
		padding-left: 0px;
		margin: 0px;
	}
	.active {
		font-weight: bold;
	}
</style>
