<div class="m-auto p-5 rounded text-center" style="top: 50%;
		transform: translateY(-50%) translateX(-50%);
		position: absolute;
		left: 50%;
	"
>
	<h1 class="mb-4 text-center">Login</h1>
	<div class="text-center" id="message"></div>
	<div class="mb-3">
		<form id="login-form" class="mb-3">
			<div class="mb-3">
				<input type="text" id="username" name="username" placeholder="Username" autocomplete="username"	required class="form-control"
				/>
			</div>
			<div class="input-group mb-3" style="width: max-content">
				<input	type="password"	id="password"
					name="password"
					class="form-control"
					autocomplete="current-password"
					placeholder="Password"
				/>
				<div class="input-group-append">
					<button	class="btn btn-primary input-group-btn p-1 d-flex" id="loginButton"
					>
						<sl-icon name="fingerprint" style="font-size: 28px"></sl-icon>
					</button>
				</div>
			</div>
			<button class="btn btn-primary rounded rounded-3" type="submit">
				Login
			</button>
		</form>
	</div>
		<div style="display: grid">
			<a href="/register" class="a link-secondary">Sign up</a>
			<a href="/resetpassword" class="a link-secondary">Forgot password?</a>
		</div>
</div>
