<div class="m-auto p-5 rounded text-center" style="top: 50%; transform: translateY(-50%) translateX(-50%); position: absolute; left: 50%;">
<h1 class="mb-4 text-center">${i18next.t('login.header')}</h1>
	<div class="text-center" id="message"></div>
	<div class="mb-3">
		<form id="login-form" class="mb-3">
			<div class="mb-3">
				<input type="text" id="username" name="username" i18n-key="login.username" placeholder="${i18next.t('login.username')}" autocomplete="username"	required class="form-control"
				/>
			</div>
			<div class="input-group mb-3" style="width: max-content">
				<input type="password"	id="password" name="password" class="form-control" autocomplete="current-password" i18n-key='login.password' placeholder="${i18next.t('login.password')}"/>
				<div class="input-group-append">
					<button	class="btn btn-primary input-group-btn p-1 d-flex" id="loginButton"
					>
						<sl-icon name="fingerprint" style="font-size: 28px"></sl-icon>
					</button>
				</div>
			</div>
			<button class="btn btn-primary rounded rounded-3" type="submit">
				${i18next.t("login.submit")}
			</button>
		</form>
	</div>
		<div style="display: grid">
			<a href="/register" class="a link-secondary">${i18next.t('generic.sign_up')}</a>
			<a href="/resetpassword" class="a link-secondary">${i18next.t('generic.reset_password')}</a>
		</div>
</div>
