<div class="m-auto p-5 rounded text-center" style="top: 50%;
		transform: translateY(-50%) translateX(-50%);
		position: absolute;
		left: 50%;
	"
>
<h1 class="mb-4 text-center">${i18next.t('generic.reset_password')}</h1>
	<div class="text-center" id="message"></div>
	<div class="mb-3">
		<form id="reset-form" class="mb-3">
			<div class="mb-3">
				<input type="text" id="username"
					name="username"
					placeholder="${i18next.t('login.username')}"
					autocomplete="username"
					required class="form-control"
				/>
			</div>
			<div class="text-center m-3 text-danger" id="error-message"></div>
			<button class="btn btn-primary rounded rounded-3" type="submit">
				${i18next.t('login.send_reset_mail')}
			</button>
		</form>
		<a href="/register" class="a link-secondary">${i18next.t('login.sing_up')}</a>
	</div>
</div>
