<div class="m-auto p-5 rounded text-center" style="top: 50%;
		transform: translateY(-50%) translateX(-50%);
		position: absolute;
		left: 50%;
	"
>
	<h1 class="mb-4 text-center">Two factor</h1>
	<div class="text-center mb-3" id="message">Enter teh second factor from your authenticator app.</div>
	<div class="mb-3">
		<form id="verification-form" class="mb-3">
			<div class="mb-3 d-flex justify-content-center">
				<input class="form-control text-center" type="text" id="totp-code" name="totp" maxlength="6" pattern="\d{6}" inputmode="numeric" required placeholder="123456" title="Enter a 6-digit code"/>
			</div>
			<button class="btn btn-primary rounded rounded-3" type="submit">
				Send
			</button>
		</form>
	</div>
	<a href="/">Login</a>
</div>
<style>
	input {
		width: 6em !important;
		font-size:2em !important;
	}
</style>
