{{>partial_header}}
package main

import (
	"net/http"
	"os"
	"fmt"
	"log"

	"github.com/rs/cors"
	"github.com/joho/godotenv"

	{{packageName}} "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/{{sourceFolder}}"
)

var signingKey = []byte("")

func main() {
	err := godotenv.Load("../../.env")
	if err != nil {
		err = godotenv.Load(".env")
		if err != nil {
			fmt.Println("Error loading .env file")
		}
	}
	signingKey = []byte(os.Getenv("JWT_SECRET"))

	log.Printf("Server started")
	dbHandler :=&{{packageName}}.DBHandler{}
	dbHandler.InitConnection()
	dbHandler.AutoMigrate()
{{#apiInfo}}{{#apis}}
	{{classname}}Service := {{packageName}}.New{{classname}}Service(dbHandler)
	{{classname}}Controller := {{packageName}}.New{{classname}}Controller({{classname}}Service)
{{/apis}}{{/apiInfo}}
	c := cors.New(cors.Options{
		AllowedOrigins:   []string{os.Getenv("CORS_ORIGIN"), "http://localhost"}, // Allow your frontend
		AllowedMethods:   []string{"GET", "POST", "PUT", "DELETE"}, // Allow methods
		AllowedHeaders:   []string{"Authorization", "Content-Type"}, // Allow headers
		AllowCredentials: true, // Allow cookies, tokens
	})
	router := {{packageName}}.NewRouter({{#apiInfo}}{{#apis}}{{classname}}Controller{{^-last}}, {{/-last}}{{/apis}}{{/apiInfo}})

	// Add checkAuthMiddleware if you need to: get the userid from the jwt token
	// authentication is handled by kong api gateway
	log.Fatal(http.ListenAndServe(":{{serverPort}}", secureHeadersMiddleware(c.Handler(router))))
}
